/** Style for header **/

body {
    margin-bottom: 0;  
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

/** Styling for navabr **/

.navbar {
    width: 98%;
    margin: 0 auto;
}

header {
    background: #55d6aa;
}
header::after {
    content: '';    
    display: table;
    clear: both;
}
.logo {
    float: left;
    padding: 10px 0;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;

    position: relative;

}
nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #000;
}
nav a::before {
    content: '';
    display: block;
    height: 3px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.808);

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}
nav a:hover::before {
    width: 100%;
}
.keyb-text {
    position: relative;
    margin: 0;
    padding-right: 0;
}
.centered {
    font-size: 100px;
    text-transform: uppercase;
    color: #55d6aa;
    text-shadow: 1px 1px 2px rgb(79, 82, 81), 0 0 1em rgb(80, 160, 136), 0 0 0.2em rgb(80, 160, 136);
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 500px;
}
.right {
    font-size: 50px;
    text-transform: uppercase;
    color: aliceblue;
    text-shadow: 1px 1px 2px rgb(79, 82, 81), 0 0 1em rgb(80, 160, 136), 0 0 0.2em rgb(80, 160, 136);
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 900px;
}